<!-- Form for adding users into our database -->
<div class="form-group">
    <label for="first_name"> First Name </label>
    <input required value="<%= person.firstName%>" type="text" name = "first_name" id="first_name" class="form-control">
</div>

<div class="form-group">
    <label for="last_name"> Last Name </label>
    <input required value="<%= person.last_name%>" type="text" name = "last_name" id="last_name" class="form-control">
</div>

<div class="form-group">
    <label for="email"> Email </label>
    <input required value="<%= person.email%>" type="email" name = "email" id="email" class="form-control">
</div>

<div class="form-group">
    <label for="age"> Age </label>
    <input required value="<%= person.age%>" type="text" name = "age" id="age" class="form-control">
</div>

<div class="form-group">
    <label for="ssn"> Social Security Number </label>
    <input required type="text" name = "ssn" id="ssn" maxlength="42">-
</div>
<a href="/" class="btn btn-secondary"> Cancel </a>
<button type="submit" class="btn btn-primary"> Save </button>